body {
    margin: 0;
} 

#body-container {
    width: 600px;
    margin: 0 auto;
}

#banner-container {
    position: relative;

}

#banner-image {
    display: block;
    width: 600px;
    margin: 0;
}

#banner-text {
    position: absolute;
    top: 50px;
    left: 75px;
    color: whitesmoke;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
    
}

.menu-item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.item-emoji {
    text-align: center;
    font-size: 50px;
    
}

.item-description {
    width: 250px;
    color: black;
    
    
}

.item-name {
    font-size: 24px;
    font-weight: bold;
}

.item-ingredients {
    font-size: 18px;
    padding: 5px 0;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item-btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    background: none;
    color: black;
    border: 1px solid gray;
}

.add-item-btn:hover {
    cursor: pointer;
    background-color: lightblue;
    border-radius: 25px;
    color: black;
    font-weight: bold;
}

#cart {
    color: black;
    margin: 0 auto;
    width: 90%;    
}

#title {
    text-align: center;
    color: black;
    font-size: 24px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

#item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item-container >* {
    margin: 0 20px 20px 0;
}

.remove-btn {
    color: grey;
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: center;
}

.remove-btn:hover {
    cursor: pointer;
    background-color: lightblue;
    border-radius: 25px;
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

#order-btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    background-color: lightblue;
    height: 40px;
    padding: 0 20px;
    width: fit-content;    
    font-weight: bold;
    font-size: 20px;
}

#order-btn:hover {
    background-color: greenyellow;
    cursor: pointer;  
}

#items {
    border-bottom: 1px solid grey;
}

#total {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}